{#
/**
 * @file
 * Default theme implementation for a summary of a webform queue handler.
 *
 * Available variables:
 * - settings: The current configuration for this queue webform submission
 *     handler.
 * - handler: The email handler.
 *
 * @ingroup themeable
 */
#}
{% if settings.states %}<b>{{ 'Queue when:'|t }} </b>{{ settings.states|join('; ') }}<br />{% endif %}
{% if settings.queue %}<b>{{ 'Queue:'|t }}</b> {{ settings.queue }}<br />{% endif %}
{% if settings.operation %}<b>{{ 'Operation:'|t }}</b> {{ settings.operation }}{% endif %}
