{#
/**
 * @file
 * Default theme implementation of an element used to wrap entity counter
 * elements.
 *
 * Available variables:
 * - tag: The HTML tag for this wrapper.
 * - attributes: HTML attributes for the element.
 * - children: The rendered child elements of the wrapper.
 *
 * @see entity_switcher_preprocess_entity_counter_wrapper()
 *
 * @ingroup themeable
 */
#}
<{{ tag }}{{ attributes }}>{{ children }}</{{ tag }}>
