{#
/**
 * @file
 * Default theme implementation for a 'entity_counter' #type form element.
 *
 * Available variables:
 * - counter_value: The entity counter value.
 * - entity_counter: The entity counter ID.
 * - renderer_plugin: The entity counter renderer plugin ID.
 * - renderer_settings: The entity counter renderer plugin settings array.
 *
 * @ingroup themeable
 */
#}
{{ counter_value }}
