{#
/**
 * @file
 * Default theme implementation for a summary of a entity counter source
 * settings.
 *
 * Available variables:
 * - settings: The current configuration for this entity counter source.
 * - source: The entity counter source instance.
 *
 * @ingroup themeable
 */
#}

{% for setting in settings.settings %}
  <b>{{ setting.title }}:</b> {{ setting.value }}<br />
{% endfor %}
